<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272525909664-b4f68cstidk1rhbo8doo9ro8h6fq767f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272525909664-b4f68cstidk1rhbo8doo9ro8h6fq767f</string>
	<key>API_KEY</key>
	<string>AIzaSyDXhHZhSR3B1gvpYgi44SY3_5ZpBVNakFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>272525909664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shazaibsarwar.flutterFirstApp</string>
	<key>PROJECT_ID</key>
	<string>employee-management-syst-a89a1</string>
	<key>STORAGE_BUCKET</key>
	<string>employee-management-syst-a89a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272525909664:ios:5d2f74a0a3f686ac3cb3c5</string>
</dict>
</plist>